@charset "UTF-8";
body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
    background: #0b0069
  }

header {
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
        background-color: rgb(58, 133, 114);
    }

  h1 {
    color:#ffffff;
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #ff0000;
    margin-top: 30px;
  }
  
  h2 {
    color: #00ff37;
    font-size: 1em;
  }

 P {
    color:#ffffff
 }
 li {
    color: #ffffff;
 }
  footer {        
    border-top: 1px solid #ff0404;  
    text-align: center;  
    padding-top: 1em; 
  } 

  footer img {  
    width: 40px;  
    height: 40px;  
    margin-left: .5em;  
    margin-right: .5em; 
  }
  a {
    text-decoration: none;
  }
  
  .centered-list {
    text-align: center;
}
  a:link {
    color: rgb(60, 177, 212);
  }

  a:visited {
    color: #2f5b61;
  }

  a:focus, a:hover {
    color: #272abd;
    background-color: #fff;
  }

  a:active {
    color: rgb(255, 145, 19);
    background-color: #fff;
  }
  dt {
    font-weight: bold;
  }

  strong {
    font-style: italic;
  }
